html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.image-large {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-container {
    /* background: linear-gradient(to bottom, #add8e6, #86c5da); */

    /* background: #91321b */
    /* background: linear-gradient(to bottom, #91321b, #da5838); rusty orange, dark to light */

    background: linear-gradient(to right, #3F5F92, #6ABDEF);
    min-height: 100%;
}

.page-row { 
    min-height: 50vh;
}

.no-margin {
    margin: 0;
}

.no-pad {
    padding: 0;
}

.content-column {
    min-height: 50vh;
    /* border-bottom: solid #FFFFF0 2px; */
}

.content-column:after {
    content: '';
    width: 80%;
    height: 4px;
    background: #FFFFF0;
    position: absolute;
    bottom: -4px;
    margin-left: 10%;
}


.greeting-text, .links-text, a {
    color: #FFFFF0
}

.links-text {
    margin-top: 15px;
    font-size: 1.5rem;
}

.links-text:first-of-type {
    margin-top: 30px;
}

a { 
    text-decoration: underline;
}

a:hover {
    color: #FFFFF0;
}

h1 { 
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.icon-link {
    margin-right: 10px;
    margin-left: 10px;
}

.icon-link:first-of-type {
    margin-right: 10px;
    margin-left: 0px;
}

.icon-link:last-of-type {
    margin-right: 0px;
    margin-left: 10px;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.cottage-image {
    background-image: url('assets/cottage.JPG');
}

.cat-bottle-image { 
    background-image: url('assets/bridge.JPG');
}

.carbon-image {
    background-image: url('assets/carbon.JPG');
}

.img-test {
    height: 100%;
    /* width: 100%; */
    width: 642px;
    object-fit: cover;
}

.footer {
}

.bottom-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bottom-image {
    /* image-orientation: from-image; */
}

.greeting-row { /* change this to bootstrap columns */
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .content-column:last-of-type:after {
        height: 0px;
    }
}

